/* Debug */
.debug body {
    background-color: lightcoral;
}

.debug .container {
    border: 1px solid red;
    background-color: purple;
}

.debug .row {
    border: 1px solid orange;
    background-color: green;
}

.debug [class^='col'] {
    border: 1px solid purple;
    background-color: aquamarine;
}

.debug .sidebar {
    background-color: var(--blue);
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.menu-sidebar:hover {
    background-color: grey;
}
/* Utilities */

:root {
    --blue:#051E34;
    --light-blue:#1B72E8;
}

/* Navbar */

nav {
    height: 70px;
}

.mobile-logo {
    height: 40px;
}

/* Sidebar */
.main-container {
    overflow: hidden;
}

.sidebar {
    overflow: hidden;
    background-color: var(--blue);
    background-image: url(../img/sidebar-bg.png);
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}

.list-sidebar {
    width: 150px;
}

.menu-sidebar {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
}

/* Main */
main {
    overflow: auto;
}

.bg-lightblue {
    background-color: var(--light-blue);
}

.student {
    line-height: 2.5rem;
    height: 100%;
}

.bg-blue-badge {
    background-color: #165BBA;
}

/*#card-classes th[scope="row"] {
    line-height: 10px;
    vertical-align: middle;
}*/

#card-faq .accordion-button:focus {
    box-shadow: none;
    background-color: transparent;
}